
<div class="bd" style="height: 100%;width :100%;position: fixed;bottom: 0;">
    <div class="weui_tab">
    <div class="weui_tab_bd">

    </div>
    <div class="weui_tabbar" ng-class="{in: $state.includes('app')}">
        <a ui-sref-active="active" ui-sref="app.home" class="weui_tabbar_item ">
            <div class="weui_tabbar_icon">
                <!--<img src="./images/icon_nav_button.png" alt="">-->
                <i class="fa fa-home fa-lg"></i>
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a ui-sref-active="active" ui-sref="app.address" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <!--<img src="./images/icon_nav_msg.png" alt="">-->
                <i class="fa fa-book fa-lg"></i>
            </div>
            <p class="weui_tabbar_label">通讯录</p>
        </a>
        <a ui-sref-active="active" ui-sref="app.find" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-search fa-lg"></i>
                <!--<img src="./images/icon_nav_article.png" alt="">-->
            </div>
            <p class="weui_tabbar_label">发现</p>
        </a>
        <a ui-sref-active="active" ui-sref="app.me" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="fa fa-user fa-lg"></i>
                <!--<img src="./images/icon_nav_cell.png" alt="">-->
            </div>
            <p class="weui_tabbar_label">我&nbsp;&nbsp;</p>
        </a>
    </div>
</div>

</div>