<div class="weui_toptips weui_warn js_tooltips">邮箱或密码错误</div>
<div class="page button hd">
    <div ng-include="'app/components/common/top-bar.html'"></div>
</div>
<form name = "userLoginForm" role="form">
    <div class="weui_cells weui_cells_form" >
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input name="email" ng-model="userLoginFormData.email" class="weui_input" type="text" placeholder="请输入账号">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <input name="password" ng-model="userLoginFormData.password" class="weui_input" type="password" placeholder="请输入密码">
            </div>
        </div>
    </div>
    <div class="bd spacing" style="margin-top: 20px;">
        <a href="javascript:;" ng-disabled = "userLoginForm.$invalid" ng-click="userLogin(userLoginFormData)" class="weui_btn weui_btn_primary">登录</a>
    </div>
</form>
<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">登录中</p>
    </div>
</div>

